<!-- views/bars/show.ejs -->
<%- include ../partials/header.ejs %>
<main>
    <h2>Bar:</h2>
    <p><%= bar.name %></p>
    <p><%= bar.location %></p>

    <form method="POST" action="/bars/<%= bar._id %>?_method=DELETE">
        <button class="delete" type="submit">Delete Bar</button>
    </form>
    <form method="GET" action="/bars/<%= bar._id %>/edit">
        <button class="btn" type="submit">Edit Bar</button>
    </form>

    <h3>Beers on tap:</h3>
    <% if(bar.beers.length === 0) { %>
        <p>This bar has no beers!</p>
    <% } else { %>
        <% bar.beers.forEach(beer => { %>
            <!-- <p><%= beer.name %></p> -->
            <form method="POST" action="/bars/<%= bar.id %>/beers/<%= beer.id %>?_method=DELETE"  >
                <label><%= beer.name %></label>
                <button type="submit" class="btn">
                    Stop Serving
                </button>
            </form>
        <% }) %>
    <% } %>

    <hr>

    <h3>Add a Beer</h3>
    <form method="GET" action="/bars/<%= bar._id %>/beers/new">
        <button class="btn" type="submit">Add Beer</button>
    </form>
</main>
<%- include ../partials/footer.ejs %>